# Assignment 1

Q.1 Write a program which will find all such numbers which are divisible by 7 but are not a multiple
of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a
comma-separated sequence on a single line.

In [5]:
#empty list
A=[]

#loop which itrates from 2000 tp 3200
for i in range(2000,3201):
    if i%7==0 and i%5==0:
        A.append(str(i))

"""performing joining operation between the elements
of list and s to get a resultant string with commas
in between the list elements"""
t=","
result=t.join(A)
print(result)

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

 OR

In [1]:
A=[]
for i in range(2000,3201):
    if i%7==0 and i%5==0:
        A.append(i)

print(*A,sep=",")

2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695,2730,2765,2800,2835,2870,2905,2940,2975,3010,3045,3080,3115,3150,3185

Q.2 Write a Python program to accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.

In [2]:
#getting input name from the console
f_name=input("Enter your first name:")
l_name=input("Enter your last name:")

#printing them in reverse order with a space between thems
print(l_name,f_name)

Enter your first name:santosh
Enter your last name:kumar
kumar santosh

Q.3 Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r**3

In [3]:
#taking radius of sphere as input
S_radius=float(input("Enter the radius of sphere:"))

#applyiny formula
volume=(4/3)*(3.14)*(S_radius**3)

#printing the calculated volume
print("Volume of sphere is:",volume)

Enter the radius of sphere:12
Volume of sphere is: 7234.5599999999995